{% extends 'base.html'%}

{% block content %}
<div class="card">
  <!-- <video id="video" autoplay></video> -->
  <video id="video" width="640" height="480" autoplay></video>
  <div class="card-body">
    <h5 class="card-title">Scan wajah</h5>
    <!-- <div id="message"></div> -->
    <p class="card-text" id="message">Prosess...
    </p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
     -->

    <button id="start-button" class="btn btn-primary">Start Camera</button>
    <button id="stop-button" class="btn btn-primary">Stop Camera</button>
  </div>
</div>


<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script>

  document.addEventListener('DOMContentLoaded', function () {
    // Semua kode JavaScript Anda disini

    const socket = io();

    // socket.on('redirect', function (data) {
    //   window.location.href = data.url;
    // });

    socket.on('message', function (data) {
      // Menampilkan pesan teks ke pengguna, misalnya dalam sebuah elemen div dengan ID 'message'
      document.getElementById('message').textContent = data.text;
    });

    const videoElement = document.getElementById('video');
    const startButton = document.getElementById('start-button');
    const stopButton = document.getElementById('stop-button');

    navigator.mediaDevices.getUserMedia({ video: true })
      .then(function (stream) {
        videoElement.srcObject = stream;
      })
      .catch(function (error) {
        console.error('Error accessing the camera:', error);
      });

    startButton.addEventListener('click', function () {
      socket.emit('start_camera');
    });

    stopButton.addEventListener('click', function () {
      socket.emit('stop_camera');
    });

    videoElement.addEventListener('canplay', function () {
      const canvas = document.createElement('canvas');
      const context = canvas.getContext('2d');
      canvas.width = videoElement.videoWidth;
      canvas.height = videoElement.videoHeight;

      setInterval(function () {
        context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);
        const image_data = canvas.toDataURL('image/jpeg');
        socket.emit('deteksi', image_data);
      }, 2000); // Mengirim gambar setiap 1 detik
    });
  });

</script>
{% endblock %}